[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"

[packages]
sklearn = "*"
keras = "==2.3.1"
matplotlib = "*"
numpy = "*"
tensorflow = "==1.15.4"
pillow = "*"

[requires]
python_version = "3.6"
