[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"

[packages]
sklearn = "*"
keras = "*"
matplotlib = "*"
numpy = "*"
tensorflow = "==1.15"

[requires]
python_version = "3.6"
